.footer{
    display: flex;
    background-color: var(--azul-ufsm);
    align-items: center;
    justify-content: center;  
    position: relative;
    width: 100vw;
    height: 20%;

}

.footer-img{
    position: absolute;
    margin-left:90vw ;
}
