.qr-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.qr-container {
  background: var(--azul-ufsm);
  padding: 5.5rem;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;

}

.button{
  margin-top: 1rem;
}
