.dropdown-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    border-radius: 5px;
    padding: 0px 50px;
    width: 60vw;
    height: 70px;
   cursor: pointer;
}

p{
    color: #000;
    font-size: 20px;
}

.dropdown-left p{
    color: #000;
    font-size: 24px;
}

.dropdown-righ{
    position: relative;
    transform: rotate(90deg);
  
}

hr{
    border: none;
    margin-top: -5px;
    border-top: 1px solid var(--cinza-escuro);
}

.default{
    transition: 200ms ease;
}

.active{
    transform: rotate(-90deg);
    transition: 0.3s ease;
}

.dropdown-subSection {
    position: relative;
    width: 60vw; 
    padding: 0px 50px; 
    background-color: var(--cinza);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: inset 0px 4px 3px var(--cinza-escuro);
    overflow: hidden;
  }
  
  .dropdown-subSection.show {
    max-height: 500px; 
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    transform: scaleY(1);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
  .dropdown-item{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  
  