.dropdown-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    border-radius: 5px;
    padding: 0px 50px;
    width: 60vw;
    height: 70px;
   cursor: pointer;
}

p{
    color: #000;
    font-size: 20px;
}

.dropdown-left p{
    color: #000;
    font-size: 24px;
}

.dropdown-righ{
    position: relative;
    transform: rotate(90deg);
  
}

hr{
    border: none;
    margin-top: -5px;
    border-top: 1px solid var(--cinza-escuro);
}

.default{
    transition: 200ms ease;
}

.active{
    transform: rotate(-90deg);
    transition: 0.3s ease;
}

.dropdown-subSection {
    height: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: height 0.3s ease, transform 0.3s ease;
    width: 60vw;
    padding: 0px 50px;
    background-color: var(--cinza);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0px 4px 3px var(--cinza-escuro);
}

.dropdown-subSection.show {
    position: relative;
    top: -5px;
    height: fit-content;
    transform: translateY(0);
    transition: height 0.3s ease, transform 0.3s ease;
}
  .dropdown-item{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
  }
  
  
  