.play-audio-container{
    display: flex;
    cursor: pointer;
    background-color: var(--cinza);
    padding: 10px 10px 0px;
    border-radius: 5px;
    max-width: 200px;
}

.play-audio-label{
    
    margin-left: 8px;
}