.custom-button {
    border-radius: 0.3125rem;
    border: none;
    width: 11.875rem;
    height: 3.125rem;
    cursor: pointer;
    color: var(--azul-ufsm);
}

.custom-button:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}

.submit {
    background-color: var(--azul-ufsm);
    color: var(--branco);
}

.reset {
    background-color: var(--branco);
    color: var(--azul-ufsm);
}
