.custom-button {
    border-radius: 0.3125rem;
    border: none;
    width: 11.875rem;
    height: 3.125rem;
    cursor: pointer;
    color: var(--azul-ufsm);
}

.custom-button:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}

.submit {
    background-color: var(--azul-ufsm);
    color: var(--branco);
}

.reset {
    background-color: var(--azul-alt);
    color: var(--branco);
}

.button-create{
    position: relative;
    min-height: 3rem;

}

.load{
margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--azul-ufsm);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-article{
    width: 3rem;
    margin-top: 1%;
    background-color: var(--azul-alt);
}

.add-article{
    background-color: var(--azul-alt);
    color: var(--branco);
    margin-top: 1.3rem;
}