.input-container {
  position: relative;
  margin: 0.625rem 0;
  max-width: 32.25rem;
  min-height: 3rem;
}

.input-container.big,
.input.big {
  width: 100%;
}

.input-container.small,
.input.small {
  width: calc(50% - 0.5rem);
}

.hide {
  display: none;
}

.required {
  position: relative;
  color: red;
  font-size: 1.25rem;
  top: 0.1875rem;
  outline: none;
  border: none;
}

.input-container .input {
  width: 100%;
  padding: 1.5625rem 0.625rem 0.375rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  font-size: 0.875rem;
  box-sizing: border-box;
}

.input-container label {
  position: absolute;
  left: 0.625rem;
  top: 0.8125rem;
  background: none;
  padding: 0 0.25rem;
  font-size: 1.125rem;
  transition: all 0.2s ease;
  outline: 0;
}

.input-container .input:focus + label,
.input-container .input:not(:placeholder-shown) + label {
  top: 0.1875rem;
  left: 0.5rem;
  font-size: 0.625rem;
  color: var(--azul-ufsm);
  background: none;
}

.input-container .input:focus {
  font-size: 0.875rem;
  outline: 0;
}

.input-container .input:focus + label .required,
.input-container .input:not(:placeholder-shown) + label .required {
  font-size: 0.75rem;
  top: 0.125rem;
}

.input-container .input-error {
  transition: all 0.2s ease;
  outline: 0.125rem solid red;
  outline-style: groove;
}

.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search{
  
  background-color: var(--branco);
}