
.view-animal-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    max-width: 100vw;
}
