.header {
    display: flex;
    background-color: var(--azul-ufsm);
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 8vh;
    overflow: hidden;
    font-size: 1.8rem;
  }
  
  .left {
    position: absolute;
    justify-content: center;
    left: 1.25rem;
    width: 40px;
  }
  
  .header-img {
    position: absolute;
    margin-left: 72vw;
    width: 50px;
    height: 60px;
  }
  
  @media (max-width: 600px){
    .header{
      font-size: 12px;
    }
    .left {
      width: 20px;
    }
    .header-img {
      width: 35px;
      height: 45px;
    }
  }