.header {
    display: flex;
    background-color: var(--azul-ufsm);
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 8vh;
  }
  
  .left {
    position: absolute;
    justify-content: center;
    left: 1.25rem;
  }
  
  .header-img {
    position: absolute;
    margin-left: 56.25vw;
  }
  