.header{
    display: flex;
    background-color: var(--azul-ufsm);
    align-items: center;
    justify-content: center;  
    position: relative;
    width: 100vw;
    height: 20%;
}
.left{
    position: absolute;
    justify-content: center;
    left: 20px;
}

.header-img{
    position: absolute;
    margin-left:90vw ;
}