.animal-list-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .button-section{
    display: flex;
    align-self: flex-start;
    gap: 1rem;
  }

  .search-section{
  display: flex;
   align-self: flex-end;
   min-width: 20vw;
  }

  .top-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
  }
