.user-view-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--azul-ufsm);
    padding: 3rem;
    border-radius: 5px;
    width: 50vw;
    height: 30vh;
}

.user-view-container p{
    color: var(--branco);
}