.toast {
  display: flex;
  position: fixed;
  text-align: center;
  width: 12.5vw;
  max-width: 200px;
  min-width: 150px;
  height: 6.25vw;
  max-height: 100px;
  min-height: 80px;
  font-size: clamp(1rem, 1.125vw, 1.125rem);
  justify-content: center;
  align-items: center;
  top: 1rem;
  right: 1rem;
  color: black;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  pointer-events: none;
  z-index: 9999;
  background-color: var(--verde-claro);
  border: 1px solid var(--verde-escuro);
}

.toast.success {
  background-color: var(--verde-claro);
  border: 2px solid var(--verde-escuro);
  color: var(--verde-escuro);
}

.toast.warning {
  background-color: var(--vermelho-claro);
  border: 2px solid var(--vermelho-escuro);
  color: var(--vermelho-escuro);
}
