.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: var(--azul-ufsm);
    max-width: 80vw;
}

.home-main h1{
    color: var(--branco);
}